.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.spinner-3 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, red 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, red);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
@media (min-width: 768px) {
  #video-container {
    padding: 2% 5% 1% 5% !important;
  }
}
@media (max-width: 768px) {
  #video-container {
    padding: 0px !important;
  }
  #search-results {
    text-align: center;
  }
  #result-title-data {
    margin: 5% 0 5% 0;
  }
  #video-thumbnail {
    margin: 0 0 5% 0;
  }
}
@media (min-width: 992px) {
  #video-details {
    text-align: right;
  }
}
@media (max-width: 992px) {
  #video-details {
    text-align: left;
  }
}

#yt-link-cont {
  font-size: 20px;
  white-space: pre-wrap;
}
